@media (max-width: 1500px) {
  html {
    font-size: 55%;
  }

  .info__box {
    padding: 3rem 6rem;
    margin: 10rem 10rem;
  }

  .current__temperature {
    font-size: 8rem;
  }

  .current__city {
    font-size: 4rem;
  }

  .current__details {
    font-size: 1.6rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 35%;
  }

  .info__box {
    padding: 1.5rem 4rem;
  }

  .current__city {
    font-size: 2.5rem;
  }

  .previous__cities {
    font-size: 2.5rem;
  }

  .current__details--heading {
    font-size: 2.5rem;
  }

  .current__details {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .mobile {
    display: inline-block;
  }

  .desktop {
    display: none;
  }
  main {
    flex-direction: column;
    background-size: cover;
    background-position: top;
    max-height: 100%;
    align-items: center;
  }

  .nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  .section__left {
    flex-basis: 20%;
    max-width: 100%;
    display: none;
  }

  .section__right {
    flex-basis: auto;
    flex-shrink: 0;
    max-height: 100%;
    backdrop-filter: blur(2px);
    padding-top: 10rem;
  }

  .search__btn {
    padding: 3rem 6rem;
  }

  .search__input {
    display: none;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 350ms ease-in-out;
  }

  .previous {
    transform: ScaleY(0);
    opacity: 0;
    transition: all 450ms ease-in-out;
    transform-origin: top;
    display: none;
  }

  .nav__list--left {
    position: relative;
  }

  .mobile__overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(13, 17, 26, 0.95);
    backdrop-filter: blur(0.5rem);
    z-index: 100;
    transition: all 800ms ease-in-out;
    transform: translateY(-200rem);
  }

  /* .hidden {
        opacity: 0;
        visibility: hidden;
      } */

  .mobile--previous__list--heading {
    background-color: rgba(13, 17, 26, 1);
    font-size: 5rem;
    border-bottom: solid 1px var(--clr-midnight-neutral-200);
    text-align: center;
    padding: 5rem 0 5rem;
    cursor: pointer;
    transition: color 250ms;
    user-select: none;
  }

  .mobile--previous__list--heading:hover {
    color: #ddd;
  }

  .mobile--previous__list {
    font-size: 2.5rem;
    color: #fff;
    margin-top: 0rem;
  }

  .mobile--previous__list--item {
    width: 100%;
    text-align: center;
  }

  .mobile--previous__list--item:hover {
    background-color: rgba(9, 56, 75, 0.74);
    color: #ddd;
    display: block;
    padding: 5rem auto;
  }

  .mobile--previous__list--item a:link,
  .mobile--previous__list--item a:visited {
    font-size: 4rem;
    display: block;
    padding: 2rem;
    width: 100%;
    color: inherit;
    z-index: 200;
  }

  /* .mobile--previous__list--item a:hover,
      .mobile--previous__list--item a:active {
      } */

  .mobile-info__box {
    display: block;
    padding-bottom: 2rem;
    border-bottom: solid 1px var(--clr-midnight-neutral-200);
    text-align: center;
  }

  .current__city {
    text-align: left;
  }

  .current__details--heading {
    text-align: center;
  }
  .section__right {
    width: 100%;
  }
  .container--details {
    margin: 1rem 4rem;
  }
}

@media (max-width: 450px) {
  .container--details {
    margin: 1rem 3rem;
  }
}
