:root {
  --clr-midnight-neutral-200: #c1c8cf;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #efefef;
  position: relative;
  background-color: #16171a;
}

main {
  background-color: rgb(40, 80, 107);
  background-image: url('../assets/midnight-city.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.section__left {
  height: 100vh;
  flex-basis: 60%;
  background-color: rgba(128, 128, 128, 0.267);
}

.section__right {
  /* width: 40%; */
  background-color: rgba(13, 17, 26, 0.631);
  backdrop-filter: blur(1.5rem);
  height: 100vh;
  flex-basis: 40%;
  position: relative;
  background-repeat: repeat;
  overflow-y: scroll;
}

.info__box {
  background-color: rgba(13, 17, 26, 0.631);
  backdrop-filter: blur(15px);
  display: inline-block;
  padding: 4rem 8rem;
  margin: 10rem 15rem;
  border-radius: 2rem;
}

.info__box--default {
  font-size: 3rem;
}

.mobile-info__box {
  display: none;
}

.info__box--details {
  display: inline-block;
  margin-left: 4rem;
}

.current__temperature {
  font-size: 10rem;
  display: inline-block;
  color: #efefef;
}

.current__city {
  font-size: 5rem;
  display: block;
  color: #efefef;
}

.current__details {
  font-size: 2rem;
  display: block;
  color: var(--clr-midnight-neutral-200);
  overflow-y: scroll;
}

.current__details::-webkit-scrollbar {
  display: none;
}

/* Nav bar */

.nav {
  display: none;
  width: 100%;
  background-color: rgba(13, 17, 26, 0.4);
  /* height: 4rem; */
  margin-bottom: 4rem;
}

.nav__list {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.mobile__overlay {
  display: none;
}

.mobile--previous {
  font-size: 2.4rem;
  cursor: pointer;
}

.mobile--search__btn {
  position: relative;
  padding: 2rem 4rem;
  border: none;
  background-color: #1e5380;
  cursor: pointer;
  transition: background 350ms ease;
}

.nav__list--left {
  flex-basis: 82%;
  justify-self: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

.nav__list--right {
  flex-basis: auto;
}

.mobile--settings-icon {
  font-size: 4rem;
  color: #928dab;
  transition: all 350ms ease;
  cursor: pointer;
}

/* Search */

.search__box {
  width: 95%;
  /* margin-left: auto; */
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-bottom: 8rem;
}

.search__input {
  background-color: #16171a;
  border: none;
  width: 100%;
  font-size: 3rem;
  display: inline-block;
  color: #efefef;
  padding: 1rem 2rem;
  border-bottom-left-radius: 1rem;
}

.search__btn {
  position: relative;
  padding: 2rem 4rem;
  border: none;
  background-color: #1e5380;
  cursor: pointer;
  transition: background 350ms ease;
}

.search__btn:hover {
  background-color: #1b4b73;
}

.search__input:focus {
  outline: none;
}

.search__box:focus-within {
  /* outline: solid 1rem #1e5380;
  outline-offset: 1rem; */
  box-shadow: 0 0 8rem #c7d0d8;
}

.search__btn--img {
  width: 2.5rem;
}

/* Details list */

.container--details {
  margin: 2rem 5rem 2rem;
  font-size: 3rem;
  color: var(--clr-midnight-neutral-200);
}

/* Details list--previous cities */

.previous__cities--wrapper {
  border-bottom: solid 1px var(--clr-midnight-neutral-200);
  padding-bottom: 1rem;
  margin-bottom: 5rem;
  color: #efefef;
}

.previous__list--item {
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 2.5rem;
  transition: color 250ms ease;
}

.previous__list--item:hover {
  color: #efefef;
}

.previous {
  padding-bottom: 5rem;
  border-bottom: solid 1px var(--clr-midnight-neutral-200);
}

/* Details list--current weather */

.current__details--wrapper {
  font-size: 3rem;
  padding: 5rem 0;
  color: #efefef;
}

.current__details--list-item {
  display: flex;
  justify-content: space-between;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* SETTINGS */

.homepage-link {
  display: none;
  width: 20rem;
  position: relative;
  bottom: 5rem;
  left: 10rem;
}

.settings-icon {
  position: absolute;
  top: 10rem;
  right: 2.5rem;
  font-size: 5rem;
  color: #928dab;
  transition: all 350ms ease;
  cursor: pointer;
}

.settings-icon:hover {
  color: #837f9a;
  animation: spin 5000ms;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
